.candidateCard {
    display: flex;
    height: 635px;
    width: 300px;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    flex-direction: column;
    
}


.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.candidateCard img {
    height: 250px;
    width: 300px;
    
}

.candidateCard p {
    display: flex;

}

.candidateCard h1 {
    display: flex;
    font-size: 35px;
}