.nav-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 22px;
    align-content: flex-start;
}

.nav-links li {
    list-style: none;

}

.nav-links li a {
    text-decoration: none;
    color: white;
    
}